## Data Cleaning

Import <b>Pandas</b>, <b>numpy</b>, and <b>matplotlib</b> library

In [56]:
import pandas as pd 
import numpy as np
import matplotlib as mpl

### Overview of the Dataset

This dataset contains state-level education statistics across different years. It includes information about student enrollment, funding, expenditures, and academic performance in public schools across U.S. states.

Load the "<b>states_all.csv</b>" file

In [57]:
df = pd.read_csv(r"..\.raw\states_all.csv", delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [58]:
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [59]:
df_educ = df.drop(df.columns[[0, 20]], axis=1)
df_educ.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,55460.0,57948.0,58025.0,41167.0,NaN,NaN,208.0,252.0,207.0,NaN
1,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,10152.0,9748.0,8789.0,6714.0,NaN,NaN,NaN,NaN,NaN,NaN
2,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,53497.0,55433.0,49081.0,37410.0,NaN,NaN,215.0,265.0,209.0,NaN
3,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,33511.0,34632.0,36011.0,27651.0,NaN,NaN,210.0,256.0,211.0,NaN
4,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,431763.0,418418.0,363296.0,270675.0,NaN,NaN,208.0,261.0,202.0,NaN

In [60]:
df_educ.isna().sum()

STATE                              0
YEAR                               0
ENROLL                           491
TOTAL_REVENUE                    440
FEDERAL_REVENUE                  440
STATE_REVENUE                    440
LOCAL_REVENUE                    440
TOTAL_EXPENDITURE                440
INSTRUCTION_EXPENDITURE          440
SUPPORT_SERVICES_EXPENDITURE     440
OTHER_EXPENDITURE                491
CAPITAL_OUTLAY_EXPENDITURE       440
GRADES_PK_G                      173
GRADES_KG_G                       83
GRADES_4_G                        83
GRADES_8_G                        83
GRADES_12_G                       83
GRADES_1_8_G                     695
GRADES_9_12_G                    644
AVG_MATH_4_SCORE                1150
AVG_MATH_8_SCORE                1113
AVG_READING_4_SCORE             1065
AVG_READING_8_SCORE             1153
dtype: int64

In [61]:
n_columns = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 'GRADES_9_12_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE']
df_educ[n_columns] = df_educ[n_columns].apply(lambda n:n.fillna(n.mean().round(0)))
df_educ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         1715 non-null   object
 1   YEAR                          1715 non-null   int64
 2   ENROLL                        1715 non-null   float64
 3   TOTAL_REVENUE                 1715 non-null   float64
 4   FEDERAL_REVENUE               1715 non-null   float64
 5   STATE_REVENUE                 1715 non-null   float64
 6   LOCAL_REVENUE                 1715 non-null   float64
 7   TOTAL_EXPENDITURE             1715 non-null   float64
 8   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 9   SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 10  OTHER_EXPENDITURE             1715 non-null   float64
 11  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 12  GRADES_PK_G                   1715 non-null   float64
 13  GRADES_KG_G                   1715 non-null   float64
 14  GRADES_4_G                    1715 non-null   float64
 15  GRADES_8_G                    1715 non-null   float64
 16  GRADES_12_G                   1715 non-null   float64
 17  GRADES_1_8_G                  1715 non-null   float64
 18  GRADES_9_12_G                 1715 non-null   float64
 19  AVG_MATH_4_SCORE              1715 non-null   float64
 20  AVG_MATH_8_SCORE              1715 non-null   float64
 21  AVG_READING_4_SCORE           1715 non-null   float64
 22  AVG_READING_8_SCORE           1715 non-null   float64
dtypes: float64(21), int64(1), object(1)
memory usage: 308.3+ KB

In [62]:
df_educ.head(20)

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,ALABAMA,1992,917542.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,55460.0,57948.0,58025.0,41167.0,577955.0,282069.0,208.0,252.0,207.0,264.0
1,ALASKA,1992,917542.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,10152.0,9748.0,8789.0,6714.0,577955.0,282069.0,236.0,278.0,219.0,264.0
2,ARIZONA,1992,917542.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,53497.0,55433.0,49081.0,37410.0,577955.0,282069.0,215.0,265.0,209.0,264.0
3,ARKANSAS,1992,917542.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,33511.0,34632.0,36011.0,27651.0,577955.0,282069.0,210.0,256.0,211.0,264.0
4,CALIFORNIA,1992,917542.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,431763.0,418418.0,363296.0,270675.0,577955.0,282069.0,208.0,261.0,202.0,264.0
5,COLORADO,1992,917542.0,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,1035970.0,...,47588.0,50648.0,45025.0,34533.0,577955.0,282069.0,221.0,272.0,217.0,264.0
6,CONNECTICUT,1992,917542.0,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,1142600.0,...,41319.0,38058.0,33691.0,28366.0,577955.0,282069.0,227.0,274.0,222.0,264.0
7,DELAWARE,1992,917542.0,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,194915.0,...,8025.0,8272.0,8012.0,6129.0,577955.0,282069.0,218.0,263.0,213.0,264.0
8,DISTRICT_OF_COLUMBIA,1992,917542.0,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,316679.0,...,6667.0,5832.0,5000.0,3433.0,577955.0,282069.0,193.0,235.0,188.0,264.0
9,FLORIDA,1992,917542.0,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,3410440.0,...,161701.0,164416.0,142372.0,100835.0,577955.0,282069.0,214.0,260.0,208.0,264.0
10,GEORGIA,1992,917542.0,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,1559059.0,...,100745.0,99648.0,92374.0,63646.0,577955.0,282069.0,216.0,259.0,212.0,264.0
11,HAWAII,1992,917542.0,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,291376.0,...,14440.0,13754.0,11750.0,9051.0,577955.0,282069.0,214.0,257.0,203.0,264.0
12,IDAHO,1992,917542.0,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,246320.0,...,16018.0,18607.0,18880.0,14593.0,577955.0,282069.0,222.0,275.0,219.0,264.0
13,ILLINOIS,1992,917542.0,9748650.0,597077.0,3073178.0,6078395.0,9850560.0,5010400.0,3148849.0,...,139237.0,133120.0,134317.0,106475.0,577955.0,282069.0,236.0,278.0,219.0,264.0
14,INDIANA,1992,917542.0,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,1478639.0,...,66065.0,73760.0,75477.0,62234.0,577955.0,282069.0,221.0,270.0,221.0,264.0
15,IOWA,1992,917542.0,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,800570.0,...,36428.0,37692.0,36892.0,33057.0,577955.0,282069.0,230.0,283.0,225.0,264.0
16,KANSAS,1992,917542.0,2245348.0,121625.0,903199.0,1220524.0,2234915.0,1165749.0,708572.0,...,34826.0,36013.0,33288.0,26706.0,577955.0,282069.0,236.0,278.0,219.0,264.0
17,KENTUCKY,1992,917542.0,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,817871.0,...,46140.0,49666.0,49993.0,38029.0,577955.0,282069.0,215.0,262.0,213.0,264.0
18,LOUISIANA,1992,917542.0,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,986486.0,...,61244.0,61125.0,55942.0,38368.0,577955.0,282069.0,204.0,250.0,204.0,264.0
19,MAINE,1992,917542.0,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,317880.0,...,17367.0,17154.0,15969.0,13882.0,577955.0,282069.0,232.0,279.0,227.0,264.0

In [63]:
df_educ.isna().sum()

STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

In [65]:
df_educ.to_csv(r"..\.cleaned\states-all-cleaned.csv", index=False)